<div class ="middle">
  <div class = "container" >
  <div class="midicons" (click)= select($event) id= "1">
    <img class = "icon" src="assets/images/key.svg" alt="">
    <h6 class = "text selected" style="color:antiquewhite">   Cancel any time</h6>
  </div>
  <div class ="midicons "(click)= select($event) id= "2">
    <img class = "icon" src="assets/images/icon_devices.png" alt="">
    <h6 class = "text nonselected" style="color:antiquewhite">Watch on any devices</h6>
  </div>
  <div class ="midicons nonselected"(click)= select($event) id="3">
    <img class = "icon" src="assets/images/price-tag.svg" alt="">
    <h6 class = "text nonselected" style="color:antiquewhite">Pick our price</h6>
  </div>
  </div>
  </div>
<!-- ngif -->
<div [ngSwitch]=nid>
  <div *ngSwitchCase=1>
  <div>
    <img style="width:100%" src="assets\images\watchanywhere.png" alt="">
  </div>
</div>
<div *ngSwitchCase=2>
  <div>
    <img style="width:100%" src="assets\images\plan.png" alt="">
  </div>

</div>
<div *ngSwitchCase=3>
  <div>
    <img style="width:100%" src="assets\images\cancelany.png" alt="">
  </div>
</div>
</div>

<!-- <ANY ng-switch="expression">
  <ANY ng-switch-when="matchValue1">...</ANY>
  <ANY ng-switch-when="matchValue2">...</ANY>
  <ANY ng-switch-default>...</ANY>
</ANY> -->

<!-- <div class="movie">
  <figure class="movie-poster"><img src="https://image.tmdb.org/t/p/w500//c9XxwwhPHdaImA2f1WEfEsbhaFB.jpg" alt="#" onclick="location.href='/home2?name=Jurassic World: Fallen Kingdom';"></figure>
  <div class="movie-title">Jurassic World: Fallen Kingdom<i class="fa fa-heart-o" aria-hidden="true" id="0" onclick="location.href='/add?name=Jurassic World: Fallen Kingdom';"></i></div>
  <div class="movie-shopping">5€ <i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
  <p>A volcanic eruption threatens the remaining dinosaurs on the island of Isla Nublar, where the creatures have freely roamed for several years after the demise of an animal theme park known as Jurassic World. Claire Dearing, the former park manager, has now founded the Dinosaur Protection Group, an organization dedicated to protecting the dinosaurs. To help with her cause, Claire has recruited Owen Grady, a former dinosaur trainer who worked at the park, to prevent the extinction of the dinosaurs once again.</p>
<button data-title="Jurassic World: Fallen Kingdom" id="customButton0">Purchase</button>
</div> -->

