<!-- component 1 -->
<div class ="main">
<div>
  <img class ="netflix" src="assets/images/netflix.svg" alt="">
  <div class="right">
  <button type ="button" class="btn btn-danger ">sign in</button>
  <button type ="button" class="btn btn-danger ">Register</button>
  </div>
  <div class ="newmovies">
  <h1 style = "color: azure">New Movies Available</h1>
  <button type ="button" class="btn btn-danger ">Movie List</button>
</div>
</div>
</div>
<!-- component 2 -->
<div class ="middle">
<div class = "container">
<div class="middle0" >
  <img class = "icon" src="assets/images/cancel.svg" alt="">
  <h6 class = "text" style="color:antiquewhite">Cancel</h6>
</div>
<div class ="middle1" >
  <img class = "icon" src="assets/images/icon_devices.png" alt="">
  <h6 class = "text" style="color:antiquewhite">Watch on any devices</h6>
</div>
<div class ="middle2" >
  <img class = "icon" src="assets/images/icon_devices.png" alt="">
  <h6 class = "text" style="color:antiquewhite">Watch on any devices</h6>
</div>
</div>
</div>
